/* i18nIgnore light */



:root{
    --a-color-01: rgba(50,50,50,1);
    --a-color-02: rgba(220,220,220,1);
    --a-color-03: rgba(100,80,170,1);
    --a-color-04: rgba(220,220,220,0.42);
    --a-color-05: rgba(0,149,123,1);
    --a-color-06: rgba(255,77,79,1);
    --a-color-07: rgba(82,196,26,1);
    --a-color-08: rgba(250,173,20,1);
    --a-color-09: rgba(24,144,255,1);
} 